header {
  color: $main-color;
}

.new {
  color: blue;
  width: 100px;
  border-width: 1px;

  @media (max-width: 768) {
    width: 70px;
  }
}

.class {
  @media (max-width: 768) {
    display: block;
  }
}